@import "tailwindcss";

@font-face {
    font-family: "Noto Sans Thai";
    src: url("/fonts/Noto_Sans_Thai/NotoSansThai-VariableFont_wdth,wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: "Noto Sans Thai", sans-serif;
    font-optical-sizing: auto;
}